
.body{
	height: 100%;
	width: 100%;
}
.continer{
	height: 818px;
	background-image: url('../images/back.jpg');
	background-size: 100%;
	background-repeat:repeat;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.sif{
	width: 600px;
	justify-content: center;
	
}
.signtext{
	padding-top: 50px;
	padding-left: 20px;
	width: 460px;
	height: 160px;
	text-align: center;
	color: #fff;
}
.Signbtn{
	display: block;
	margin: 10px auto;
	outline: none;
	width: 400px;
	height: 50px;
	line-height: 50px;
	color: #444;
	background-color: #eee;
	font-size: 14px;
}
.input2{
	position: relative;
	margin:20px auto;
	width: 460px;
	text-align: center;
}
.input2 input{
	outline: none;
	width: 400px;
	height: 50px;
	text-align: left;
	font-size: 12px;

}
.facebook2{
	margin: 0 auto;
	width: 400px;
	height: 60px;
	background-color:wheat;
	text-align: center;
	line-height: 60px;
	opacity: 0.9;
	color:wheat;
}
.facebook2 .icon{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.yun{
	margin-top: 20px;
	width: 30px;
	height: 30px;
	font-size: 30px;
}
.yunbox{
	padding-left: 20%;
	text-align: center;
	width: 460px;
	height: 300px;
}
.yuntext{
	width: 400px;
	height: 150px;
	font-size: 16px;
	color: #fff;
}

.signup-btn {
	width: 50%;
    margin: auto;
    background-color: wheat;
    border-color:wheat;
}

.cg-btn{
	background-color: wheat;
	border-color:wheat;
	padding-bottom: 10px;
	margin-bottom: 15px;
}